# .gitignore

# Python
__pycache__/
*.py[cod]
.venv/
env/

# Data (NEVER commit these)
data/
logs/
outputs/
*.pcd
*.bin
*.las
*.bag
SALT_outputs_annotations/
MSALT_outputs_annotations_nuscenes_scene_1/
MSALT_outputs_annotations_nuscenes_scene_2/
MSALT_outputs_annotations_nuscenes_v2/
MSALT_outputs_annotations_nuscenes/
MSALT_outputs_annotations_kitti/

# Model Weights
*.pt
*.pth
*.onnx

# IDE
.vscode/
.idea/

# Hydra
outputs/
multirun/